#online-users {
width:50%;
display: inline;
}

#chat-message{
}

div {
border: 1px solid black;
}

#chat-messages{
overflow: wrap;
}

#messages-go-here{
height: 50%;
overflow: scroll}

.avatar-sidebar-img{
height: 50px;
margin-right: 3px;
}