

body {
background-color: #F9F9F9;

}

#sidebar {
width: 15%;
height: 100%;
position:absolute;
float: left;
background-color: #4D384B;
top: 0;
}

a{
color: #c9c9c9;
}

a:hover{
    text-decoration: none;
    color: #fff;
}

.sidebar-list-div{
font-size: .8em;
margin-top: 20%;
padding-left: 20px;
}

.sidebar-list-div:hover{
    background-color:#2d242c;
}

.plus-sign-sidebar {
float:right;
margin-right: 10px;
}

/* #sidebar-users-online{
margin-top: 200%;
} */

.avatar-img{
height: 45px;
float:left;
margin-right: 7px;
}

.chat-div{
margin-top: 15px;
}


#main-content-not-sidebar {
padding-left:15%;
margin-left: 10px;
}

.chat-image {
max-height: 500px;
max-width: 70%;
margin-top: 3px;
}

.chat-message-body{
margin-left: 50px;
}

.popup-content{
height: 100%;
background-color: white;
padding: 50px;
}

.popup-container {
margin: 0 auto;
height: 100%;
vertical-align: middle;
text-align: left;
width: 75%;
}

.close{
margin-top: 10px;
margin-right: 20px;
font-size: .75em;}

.chat-username{
font-weight:bold;
font-size:1.1em;
}
.chat-timestamp{
color:grey;
font-size:.8em;
}