{% extends "template-layout.html" %}
{% block heading %}
{% endblock %}



{% block body %}

<div class ="chat-div">
    <img class="avatar-img" src="static/images/jeff1.jpg">
    <div class="chat-header">
        <span class="chat-username">Jeff</span>
        <span class="chat-timestamp">11:11AM</span>
    </div>
    <div class="chat-message-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
</div>

<div class ="chat-div">
    <img class="avatar-img" src="static/images/jeff3.jpg">
    <div class="chat-header">
        <span class="chat-username">Jeff</span>
        <span class="chat-timestamp">11:11AM</span>
    </div>
    <div class="chat-message-body">

        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
</div>

<div class ="chat-div">
    <img class="avatar-img" src="static/images/jeff2.jpg">
    <div class="chat-header">
        <span class="chat-username">Jeff</span>
        <span class="chat-timestamp">11:11AM</span>
    </div>
    <div class="chat-image-body">
        <img class="chat-image" src="static/images/UNADJUSTEDNONRAW_thumb_4f2a.jpg">
    </div>
</div> <!-- end message -->

<div class ="chat-div">
    <img class="avatar-img" src="static/images/jeff3.jpg">
    <div class="chat-header">
        <span class="chat-username">Jeff</span>
        <span class="chat-timestamp">11:11AM</span>
    </div>

    <div class="chat-message-body">

    </div>
</div>

<div id = "chat-enter-message-div">
    <form id = "chat-enter-message-form" action="" method="POST">
                <button id = "submitButtonChatroom" type="submit" class="btn btn-primary"/>+</button>

        <input id = "messageInputChatroom" type="text" class="message chat-message" placeholder="Messages"/>
    </form>
</div>

{% endblock %}
